* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Roboto bold';
    font-family:'Roboto BoldItalic';
    font-family:'Roboto Italic';
    font-family:'Roboto Regular' ;
    src: url(../fonts/Roboto-Bold.ttf);
    src: url(../fonts/Roboto-BoldItalic.ttf);
    src: url(../fonts/Roboto-Italic.ttf);
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family:'Lobster Regular';
    src: url(../fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family:'Pacifico Regular';
    src: url(../fonts/Pacifico-Regular.ttf);
}
:root {
    --color-text:#550D0E;
    --color-card:#E7D6AC;
    --color-back:#FFF7EC;
    --color-div:#F9F4DB;
    --color-header:#fffcfc;
    --color-button:#a0c4b6;
    --color-description:#4b2828;
    --color-description-hover:#b18181;
    --color-button-hover:#37926f;
    --color-title:#8c3f2b;
    --color-shadow:#e6c1c1;
   }
body {
    background-color:var(--color-back);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    font-family:'Roboto Regular' ;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
.header-style {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    font-family:'Lobster Regular' ;
}
.header-image {
    width: 240px;
    height: 170px;
    margin-left: 40px;
}

.header-bookstore {
    text-align: center;
    color: var(--color-text);
    font-size: 52px;
    font-weight: 400;
}
.header-search {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.input-search {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
}
.header-button-search {
    width: 40px;
    height: 40px;
    border: none;
    padding-right: 20px;
    background-color: #fff;
    background-image: url(../assets/icons/search\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.cart-link {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 40px;
}
.delivery-link  {
    cursor: pointer;
    color: var(--color-text);
    letter-spacing: 0.05em;
}
.contacts-link {
    cursor: pointer;
    color: var(--color-text);
    letter-spacing: 0.05em;
}
.bookCards-style {
    width: auto;
    min-height: 790px;
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.book-card-item {
    width: 250px;
    /*min-height: 400px;*/
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    background-color: var(--color-header);
    border: 3px solid var(--color-div)
}
.book-card-item:hover {
    box-shadow:10px 5px 5px var(--color-shadow);
}
.book-image {
    height: 300px;
    object-fit: contain;
}
.book-autor {
    height: 35px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.book-title {
    height: 75px;
    text-align: center;
    color: var(--color-title);

}
.book-price {
    height: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Pacifico Regular';
    font-size: 20px;
    color: var(--color-description);
}
.button-description {
    border: none;
    width: 150px;
    height: 35px;
    text-align: center;
    text-decoration: underline;
    margin-right: 50px;
    margin-left: 50px;
    background-color: var(--color-header);
    color: var(--color-description);
    cursor: pointer;
}
.button-description:hover {
    color: var(--color-description-hover);
}
.button-add-to-basket {
    border: none;
    border-radius: 90px;
    width: 150px;
    height: 35px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: var(--color-button);
    cursor: pointer;
}
.button-add-to-basket:hover {
    background-color:var(--color-button-hover);
}




